case "$OSTYPE" in
  darwin*)  echo "OSX" ;; 
  linux*)   echo "LINUX" 
#arch=$(gcc -print-multiarch)
# apt-get install -y g++-multilib
#export CPLUS_INCLUDE_PATH=$CPLUS_INCLUDE_PATH:/usr/include/c++
#export C_INCLUDE_PATH=/usr/include:/usr/include/$arch
;;
  msys*)    echo "WINDOWS" ;;
  *)        echo "unknown: $OSTYPE" ;;
esac

